.login {
	text-align: center;
	background-color: #282828;
}

.login-form {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	max-width: 500px;
}

input {
	-webkit-appearance: none;
}

.ant-input {
	background-color: #282828;
	color: #e7e7e7;
}