@import '@/assets/style/var.scss';

.aec {
  position: absolute;
  width: 8px;
  height: 14px;
  bottom: 11px;
  right: 10px;
  background-color: $white-color;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999;

  &_content {
    height: 100%;
    width: 100%;
    background-color: #1483eb;
    position: absolute;
    bottom: -100%;
    transform: translateY(-0%);
    transition: transform ease 0.3s;
  }
}
