.wrap-video {
	position: absolute;

	background: #000;
	user-select: none;
	overflow: hidden;
}

.video {
	width: 100%;
	height: 100%;
	user-select: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	.video-content {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10;

		&:hover .operate-icon {
			opacity: 1;
		}
	}

	video {
		width: 100%;
		height: 100%;
		overflow: hidden;
		object-fit: cover;
		// object-fit: contain;
	}

	audio {
		position: absolute;
	}

	.video-model {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		position: relative;
		color: #ddd;
		font-size: 12px;

		display: flex;
		align-items: center;
		justify-content: center;

		.name {
			position: absolute;
			bottom: 6px;
			left: 6px;
			background-color: rgba(42, 46, 51, 0.8);
			padding: 3px 7px;
			border-radius: 3px;
		}

		.video-bg {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			background: url("./img/meeting_bg.png") center center no-repeat;
			background-size: cover;
		}

		.center {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.displayname {
			margin-bottom: 5px;
		}

		.audio-muted-status {
			position: absolute;
			left: 6px;
			top: 6px;

			background: url('./img/mic_mute.png') center center no-repeat;
			background-size: 70%;
			width: 26px;
			height: 26px;
			background-color: rgba(42, 46, 51, 0.8);
			border-radius: 15px;
		}
	}
}

.status {
	position: absolute;
	left: 1px;
	top: 0px;
	background-color: #0000002e;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: text;
	z-index: 100;
  padding-right: 5px;

	p {
		margin: 0;
		line-height: 1;
		font-size: 12px;
	}
}

.operate-icon {
	opacity: 0;

	color: rgb(255, 255, 255);
	font-size: 18px;
	background-color: rgba(42, 46, 51, 0.4);
	padding: 4px;
	border-radius: 50%;

	position: absolute;
	top: 6px;
  right: 6px;
  
  cursor: pointer;

	transition: all ease 0.2s;

	&:hover {
		background-color: rgba(42, 46, 51, 0.8);
	}
}
