$primary-color: #3876ff;
$white-color: #fff;
$footer-bg-color: #393946;
$page-bg-color: #f5f5f9;
$normal-color: rgba(57, 57, 70, 1);
$text-color: rgba(57, 57, 70, 0.8);
$lighter-color: rgba(57, 57, 70, 0.6);
$title-color: #3e454c;
$btn-hover: #5489FF;
$placeholder-color: rgba(57, 57, 70, 0.4);
$danger-color: #f33d3d;
$toolbar-bg-color: rgba(14, 4, 4, 0.8);
$white-lighter-color: rgba(255, 255, 255, 0.8);
$svg-default-color: #ffffffcc;
$svg-danger-color: #ff6666cc;
$meeting-bg-color: #0f121a;
$primary-btn-color: linear-gradient(90deg, #69aeff 0%, #3876ff 100%);
$primary-btn-hover-color: linear-gradient(90deg, #87beff 0%, #6393fd 100%);
$white-icon-lighter-color: rgba(255, 255, 255, 0.9);
$footer-arrow-hover-color: rgba(255, 255, 255, 0.16);
$footer-btn-hover-color: rgba(215, 228, 255, 0.16);
$popover-arrow-color: rgba(31, 31, 31, 0.95);
$popover-inner-bg-color: rgba(31, 31, 31, 0.95);
$word-color: #e7e7e7;
$speaker-bg-color: rgba(255, 255, 255, .1);
$video-bg-color: linear-gradient(315deg, #282828 0%, #3d3d3d 100%);

$upload-btn-bg-color-normal: linear-gradient(90deg, #69AEFF 0%, #3876FF 100%);
$upload-btn-bg-color-hover: linear-gradient(90deg, #88ADFF 0%, #6092FF 100%);
$upload-btn-bg-color-click: linear-gradient(90deg, #4FA0FF 0%, #1F65FF 100%);

$meeting-footer-height: 60px;

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
