@import '@/assets/style/var.scss';

.xy__setting-modal {
  .ant-modal {
    padding-bottom: 0;
  }

  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    padding: 0;
    top: 0;
  }

  .ant-menu-item .anticon {
    margin-right: 12px;
  }

  .setting_header {
    position: relative;
    height: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: rgba(57, 57, 70, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      width: 200%;
      height: 1px;
      position: absolute;
      bottom: 0px;
      left: -50%;
      background-color: #d8d8d8;
      transform: scale(0.5);
    }

    .close {
      position: absolute;
      width: 40px;
      height: 100%;
      top: 0px;
      right: 0px;
      font-size: 15px;
      color: #777;
      cursor: pointer;
      z-index: 1001;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .svg-icon {
          fill: #393946;
          opacity: 0.8;
        }
      }

      .svg-icon {
        width: 12px;
        height: 12px;
        fill: #393946;
        opacity: 0.4;
      }
    }
  }

  .setting__container {
    height: 540px;
    display: flex;
    overflow: hidden;
    user-select: none;
  }

  .setting__header {
    position: relative;

    .ant-menu-vertical {
      &::after {
        content: '';
        width: 200%;
        height: 1px;
        position: absolute;
        bottom: 0px;
        left: -50%;
        background-color: #d8d8d8;
        transform: scale(0.5);
      }
    }

    .ant-menu {
      height: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      .ant-menu-item {
        display: flex;
        align-items: center;
        margin-top: 0;
        padding: 0 0 0 24px;
        height: 44px;
        line-height: 44px;
      }

      .ant-menu-item:not(:last-child) {
        margin-bottom: 0;
      }

      .svg-icon {
        width: 20px;
        height: 20px;
      }

      .ant-menu-item {
        .svg-icon {
          fill: rgba(57, 57, 70, 0.8);
        }
      }

      .ant-menu-item-selected {
        background-color: rgba(56, 118, 255, 0.12);

        .svg-icon,
        .ant-menu-item-icon {
          fill: #3876ff;
          fill-opacity: 1;
        }
      }
    }
  }

  .setting__content {
    position: relative;
    flex-grow: 1;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }

    scrollbar-width: none;

    .ant-checkbox {
      top: 0.22em;
    }

    .audioLevel {
      padding: 4px 0px 16px;
    }

    .speaker {
      padding-bottom: 24px;
    }

    .logSubmit {
      display: flex;
      justify-content: space-between;
    }

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .key {
        .camera {
          display: flex;
          align-items: center;
        }
      }

      .value {
        display: flex;
        align-items: center;
        flex: 1 1;

        .ant-select {
          width: 100%;
          height: 28px;

          .ant-select-selector {
            height: 28px;
            padding: 0px 12px 0px 16px;

            .ant-select-selection-search-input {
              height: 28px;
            }

            .ant-select-selection-item {
              font-size: 12px;
              color: rgba(57, 57, 70, 0.8);
            }
          }
        }

        .ant-select-single .ant-select-selector .ant-select-selection-item {
          line-height: 28px;
        }
      }

      .key {
        height: 20px;
        font-size: 14px;
        color: #393946;
        line-height: 20px;
        margin-right: 12px;
      }

      .video-value {
        position: relative;
        margin-bottom: 24px;
      }

      .preview-video-bg {
        position: absolute;
        background: #000;
        color: $white-color;
        width: 395px;
        height: 228px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        top: 0;
      }

      .preview-video-box {
        width: 100%;
        height: 228px;
        background: #000;
      }

      .preview-video {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2px;
        object-fit: cover;
        transform: rotateY(180deg);
      }

      .play-audio,
      .upload {
        cursor: pointer;
        color: $primary-color;
        transition: color ease 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }

      .play-audio-status {
        color: #999;
        margin-left: 10px;
      }

      .level-process {
        width: 100%;
        height: 4px;
        background: rgba(0, 0, 0, 0.22);
        border-radius: 3px;
        position: relative;
        overflow: hidden;
      }

      .level-value {
        position: absolute;
        left: -230px;
        top: 0;
        width: 100%;
        height: 14px;
        background: #6092ff;
        border-radius: 3px;
        border-radius: 2px;
        overflow: hidden;
        transition: transform ease 0.3s;
        transform: translateX(0%);
      }

      .split {
        padding: 0 5px;
        color: #ddd;
      }

      &-column {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        .key {
          text-align: left;
        }

        .value {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .loudspeaker {
      margin-bottom: 8px;
    }

    &-device {
      display: flex;
      flex-direction: column;
      height: 100%;

      &-main {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .item {
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 24px;
          }
        }
      }

      .fixed {
        position: absolute;
        width: calc(100% - 30px);
        z-index: 10;
      }

      .item {
        .key {
          min-width: 58px;
        }
      }

      &-footer {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .ant-alert-info {
        margin-bottom: 10px;
        padding: 4px 20px;
        background-color: #ebf1ff;
      }

      &.tip {
        margin-top: -12px;
      }
    }

    &-common {
      height: 100%;
    }

    .request__loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      color: #666;

      .roll {
        font-size: 18px;
      }

      .init {
        margin-top: 10px;
      }
    }

    .request__iauth {
      .guide-img {
        width: 70%;
        margin: 30px auto;
        display: block;
      }

      .tips {
        color: #333;
      }

      .done {
        text-align: center;
        color: #999;
        font-size: 14px;
        padding-top: 10px;
      }
    }

    &-about {
      position: relative;
      height: 100%;
      text-align: center;
      font-size: 12px;
      color: $text-color;
      padding-top: 22%;
      user-select: text;

      .about-version {
        margin-top: 24px;
        height: 20px;
        font-size: 14px;
        color: rgba(57, 57, 70, 0.8);
        line-height: 20px;
      }

      .about-time {
        margin-top: 12px;
        height: 18px;
        color: rgba(57, 57, 70, 0.6);
        line-height: 18px;
      }

      .about-footer {
        position: absolute;
        left: 0;
        bottom: 24px;
        width: 100%;
        text-align: center;

        div {
          margin-top: 12px;
        }
      }
    }
  }

  .setting__footer {
    min-height: 50px;
  }

  .setting__select-disabled {
    width: 100%;
    border: 1px solid #d9d9d9;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    border-radius: 2px;
    color: #00000040;
    background: #f5f5f5;
    cursor: not-allowed;
  }
}

.setting-tips {
  font-size: 12px;
  margin-left: 4px;
  width: 12px;
  height: 12px;
  // opacity: 0.6;
  // transform: rotateZ(180deg);
}

.volume {
  width: 20px;
  height: 16px;
  margin-right: 12px;
}

.visible {
  display: block;
}

.hidden {
  display: none !important;
}

.stream-fail {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 1px;

  &-icon {
    font-size: 14px;
    color: $primary-color;
  }

  &-tip {
    display: inline-block;
    margin-left: 8px;
    line-height: 1;
  }

  .click-me {
    display: inline-block;
    color: $primary-color;
    cursor: pointer;
    margin-left: 12px;
    line-height: 1px;
  }
}

.mobile-drawer {
  &.ant-drawer {
    z-index: 1031;
  }

  .ant-drawer-content {
    background: #f4f5f6;
    border-radius: 8px 8px 0px 0px;
  }

  .ant-drawer-body {
    padding: 0 0 4px 0;
  }

  &-content {
    position: relative;
    text-align: center;
  }

  &-close {
    position: absolute;
    left: 50%;
    top: 8px;
    margin-left: -22px;
    content: '';
    height: 4px;
    width: 44px;
    background: #dbdbdb;
    border-radius: 3px 3px 3px 3px;
  }

  &-back {
    font-size: 14px;
    color: #3876ff;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-top: 12px;
  }
}

[data-role='mobile'] {
  .setting-drawer {
    .ant-drawer-content {
      background: #f4f5f6;
    }
  }

  .about-version {
    margin-top: 12px;
    margin-bottom: 64px;
    color: $placeholder-color;
    font-size: 10px;
  }

  .about-footer,
  .about-time {
    display: none;
  }

  .setting-list {
    margin-bottom: 17px;

    &-item {
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      background: $white-color;
      border-bottom: 1px solid #d8d8d8;

      &:last-child {
        border-bottom: 0;
      }
    }

    &-left {
      max-width: 244px;
      @include text-ellipsis;
    }
  }

  .setting__content-about {
    margin-top: 44px;
  }
}

@import '@/assets/style/var.scss';

.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    width: 100%;
    position: relative;
    padding-bottom: 16px;

    .item {
      align-items: baseline !important;

      .key {
        min-width: 58px;
      }
    }

    textarea {
      width: 100%;
      height: 88px;
      border-radius: 3px;
      border: 1px solid #d8d8d8;
      padding: 8px 12px 4px;
      font-size: 12px;
      line-height: 20px;
    }

    .error {
      position: absolute;
      color: $danger-color;
      font-size: 12px;
      margin-top: 4px;
    }

    &-input {
      border-radius: 3px;
      border: 1px solid #d8d8d8;
      font-size: 12px;
      height: 28px;
      line-height: 28px;
    }
  }

  &__footer {
    .item {
      // align-items: baseline !important;

      .key {
        min-width: 58px;
      }
    }

    margin-top: 10px;
    padding: 0 0 5px;

    .download {
      color: $primary-color;
      font-size: 14px;
      border: none;
      padding: 0px;
      cursor: pointer;

      &:hover {
        background: none;
      }

      &:focus {
        background: none;
      }

      img {
        width: 16px;
        height: 16px;
        margin-right: 9px;
      }
    }

    .upload-btn {
      font-size: 12px;
      width: 88px;
      height: 28px;
      line-height: 22px;
      color: $white-color;
      background: $upload-btn-bg-color-normal;
      border-radius: 3px;

      &:hover {
        background: $upload-btn-bg-color-hover;
      }

      &:active,
      &:focus {
        background: $upload-btn-bg-color-click;
      }

      &[disabled] {
        cursor: default;
        color: $white-color;
        opacity: 0.3;
        background: $upload-btn-bg-color-normal;
      }
    }
  }
}

[data-role='mobile'] {
  .feedback {
    padding: 0 16px;
  }

  .feedback__content {
    padding-bottom: 0;

    .item .key {
      display: none;
    }

    textarea {
      font-size: 14px;
      height: 128px;
    }
  }

  .feedback__footer .download {
    display: none;
  }

  .feedback__content-contact {
    display: none;
  }

  .feedback__footer {
    margin-top: 32px;
    padding: 0 24px;

    .upload-btn {
      width: 100%;
      height: 44px;
      font-size: 14px;
    }
  }
}
