.debug {
	position: fixed;
	top: 30px;
	width: 100%;
	height: calc(100% - 90px);
	background-color: rgba(51, 51, 51, 0.8);
	z-index: 12;
	padding: 20px;
	text-align: left;
	user-select: auto;

	&__container {
		width: 100%;

		.close {
			position: fixed;
			right: 50px;
			top: 50px;
			width: 30px;
			height: 30px;
			background-color: #1790ff;
			display: flex;
			font-size: 16px;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			cursor: pointer;
		}

		.line {
			display: flex;

			span {
				margin-right: 10px;
				width: 180px;
				text-align: left;
			}
		}

		.table {
			border-collapse: collapse;
			background-color: #00000063;

			th {
				padding: 6px;
			}

			tr,
			td {
				border-collapse: collapse;
				padding: 6px;
				text-align: left;
				min-width: 100px;
				max-width: 200px;
				overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
			}
		}
	}
}
