@import '../../style/var.scss';

.xy__setting-modal {
  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    padding: 0;
    top: 0;
  }

  .ant-modal-content {
    border-radius: 10px;
  }

  .ant-menu-item .anticon {
    margin-right: 12px;
  }
  .setting__container {
    position: relative;
    height: 540px;
    display: flex;
    overflow: hidden;
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 15px;
      color: #777;
      cursor: pointer;
      z-index: 1001;
    }
  }
  .setting__header {
    position: relative;
    .ant-menu {
      height: 100%;
      padding: 24px 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .setting__content {
    position: relative;
    flex-grow: 1;
    height: 100%;
    padding: 24px 15px;
    overflow-y: auto;

    .item {
      display: flex;
      align-items: center;
      padding: 15px 20px 5px;

      .value {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;

        .ant-select {
          width: 100%;
        }
      }

      .key {
        margin-right: 15px;
        min-width: 80px;
        text-align: right;
      }

      .video-value {
        position: relative;
      }

      .preview-video-bg {
        position: absolute;
        background: #000;
        color: #fff;
        width: 248px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
      }

      .preview-video {
        width: 248px;
        height: 140px;
        overflow: hidden;
        border-radius: 2px;
        object-fit: cover;
      }

      .play-audio,
      .upload {
        cursor: pointer;
        color: $primary-color;
        transition: color ease 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }

      .play-audio-status {
        color: #999;
        margin-left: 10px;
      }

      .level-process {
        width: 230px;
        height: 16px;
        border: 1px solid #ddd;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
      }

      .level-value {
        position: absolute;
        left: -230px;
        top: 0;
        width: 100%;
        height: 14px;
        background-color: $primary-color;
        border-radius: 2px;
        overflow: hidden;
        transition: transform ease 0.3s;
        transform: translateX(0%);
      }

      .split {
        padding: 0 5px;
        color: #ddd;
      }

      &-column {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        .key {
          text-align: left;
        }
        .value {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    &-device {
      &-main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
      }
      .fixed {
        position: absolute;
        width: calc(100% - 30px);
        z-index: 10;
      }
      .item {
        .key {
          min-width: 60px;
        }
      }
    }

    .request__loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      color: #666;

      .roll {
        font-size: 18px;
      }
      .init {
        margin-top: 10px;
      }
    }

    .request__iauth {
      .guide-img {
        width: 70%;
        margin: 30px auto;
        display: block;
      }

      .tips {
        color: #333;
      }

      .done {
        text-align: center;
        color: #999;
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }

  .setting__footer {
    min-height: 50px;
  }
}

.setting-tips {
  font-size: 12px;
  margin-left: 2px;
  opacity: 0.6;
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
}
